.presentacion {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-image: url("../assets/images/fondo_portada.jpeg");
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        width: 100%;
        height: 70dvh;
        padding: 10%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;        
        background: url("../assets/images/presentacion_background_mobile.jpg");
        background-position-x: center;
        background-size: cover;


        .header {
            &__background {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: url("../assets/images/cloud-overlay.png");
                animation: none;
                filter: brightness(150%);
            }

            &__background-light {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                animation-name: light-background;
                animation-duration: 15s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            &__logo {
                opacity: 1;
                scale: 1.2;
                animation-name: logo-background;
                animation-duration: 15s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                position: absolute;
            }

            &__img {
                width: 100%;
                height: 100%;
                border: 1px solid white;
                position: absolute;
            }
        }
    }

    &__content {
        height: 100%;
        padding: 2%;

        .content {


            &__intro {
                @include boxStyle;

                padding: 1%;
                margin-bottom: 2%;

                .intro {
                    &__title {
                        font-family: font-punk-rock;
                        font-size: 2.5rem;
                        color: rgb(0, 0, 0);
                        margin: 1%;
                    }
                }

                >p {
                    margin: 1% 0;
                    text-align: justify;
                    line-height: 1.4;
                    font-size: 1.3rem;
                }
            }

            &__menu {
                display: flex;
                flex-direction: row;
                justify-content: center;
                border-bottom: none;

                >img {
                    width: 10%;
                    height: 10%;
                    padding: 2%;
                }
            }

            &__info {
                @include boxStyle;

                width: 100%;
                border-top: none;
                margin-bottom: 2%;

                .info {
                    &__block {
                        margin-bottom: 2%;

                        >figure {
                            display: flex;
                            position: relative;
                            justify-content: center;
                        }

                        >figure>figcaption {
                            font-size: 0.8rem;
                            padding: 0.2%;
                            position: absolute;
                            right: 6%;
                            bottom: 2%;
                            background-color: rgba(172, 172, 172, 0.4);
                        }
                    }

                    &__img {
                        width: 90%;

                    }

                    &__description-container {
                        position: relative;

                        >p {
                            margin: 1%;
                            text-align: justify;
                            line-height: 1.4;
                            font-size: 1.3rem;
                        }
                    }

                    &__title {
                        width: 100%;
                        display: flex;
                        position: absolute;
                        right: 0;
                        bottom: 200%;
                        left: 0;
                        font-weight: 500;
                        justify-content: center;

                        >a {
                            font-family: font-punk-rock;
                            font-size: 2rem;
                            text-decoration: none;
                            color: white;
                            background-color: black;

                            &:hover {
                                text-shadow: 0 0 15px white;
                            }
                        }
                    }
                }

            }

            &__grid-videos {
                height: 100%;
                display: flex;
                flex-direction: column;

                .container-video {
                    &__video {
                        width: 100%;
                        padding-top: 56.25%;
                        position: relative;
                        overflow: hidden;
                    }

                    &__iframe-video {
                        width: 100%;
                        height: 100%;
                        border: none;
                        margin: 1% 0;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                }

            }
        }
    }
}


@media (min-width: 768px) {
    .presentacion {

        &__header {
            background: url("../assets/images/presentacion_background.jpg");

            .header {
                &__background {
                    width: 200%;
                    animation: clouds 40s linear infinite;
                }

                &__logo {
                    scale: 2.5;                    
                }
            }
        }

        &__content {
            width: 90%;

            .content {
                &__info {
                    .info {
                        &__title {
                            bottom: 290%;

                            >a {
                                font-size: 4rem;
                            }
                        }
                    }
                }

                &__menu {
                    >img {
                        width: 8%;
                        height: 8%;

                        &:hover {
                            cursor: pointer;
                            background-color: rgb(228, 228, 228);
                        }
                    }
                }

                &__grid-videos {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }

}

@media (min-width: 992px) {
    .presentacion {
        &__content {
            width: 60%;
        }
    }

}

@keyframes clouds {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes logo-background {
    0% {
        fill: black;
        opacity: 1;
        top: 25%;
    }

    100% {
        fill: white;
        opacity: 0.2;
        top: 75%;
    }
}

@keyframes logo-background {
    0% {
        fill: black;
        opacity: 1;
        top: 25%;
    }

    100% {
        fill: white;
        opacity: 0;
        top: 75%;
    }
}

@keyframes light-background {
    0% {
        background-color: rgba(0, 0, 0, 0.103);
        filter: brightness(120%);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.753);
        filter: brightness(60%);
    }
}