.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/images/fondo_portada.webp");
    overflow-x: hidden;

    

    &__section {
        @include boxStyle;

        padding-top: 1%;
        margin: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        font-family: font-rock;

        &:nth-child(n+2) {
            visibility: visible;
            position: relative;
            bottom: 0;
        }
    
        &:nth-child(1) {
            visibility: hidden;
            position: absolute;
            bottom: 100%;
        }

        .section {
            &__title {
                font-family: font-rock;
                text-decoration: none;
                color: black;
            }

            &__intro {
                margin: 1%;
            }
        }

        
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__img-copyright {
        padding: 0.2%;
        position: absolute;
        right: 1%;
        bottom: 2%;
        font-size: 0.8rem;
        background-color: rgba(172, 172, 172, 0.4);
        font-family: Lato, sans-serif;
        font-weight: 400;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        >figure {
            width: 100%;
        }

        .main {
            &__title {
                position: absolute;
                bottom: 40px;
                z-index: 10;
                color: white;
                font-family: font-punk-rock;

                a {
                    color: white;
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 1.5rem;

                    &:hover {
                        box-shadow: 0 0 20px white;
                    }
                }
            }

            &__group-pages {
                width: 30%;
                padding: 0.5%;
                display: flex;
                position: absolute;
                bottom: 20px;
                z-index: 20;
                justify-content: space-between;
                background-color: rgba(172, 172, 172, 0.8);
                border-radius: 10px;

                .group-pages {
                    &__icon {
                        width: 10px;
                        height: 10px;
                        border: 1px solid black;
                        border-radius: 7.5;
                        margin: 0 2%;
                        transition: all 700ms;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .portada {
        padding: 1% 0%;
        position: relative;
        bottom: 0;        

        &__section {
            width: 80%;
            height: fill-available;
            border: inherit;
            margin: 0;
            background-color: inherit;
            box-shadow: inherit;
            z-index: 10;

            &:nth-child(n+2) {
                visibility: hidden;
                position: absolute;
                bottom: 150%;
                z-index: 10;
            }
    
            &:nth-child(1) {
                visibility: visible;
                position: relative;
                bottom: 0;
            }
        }

        &__image {
            width: 100%;
            height: 100%;
        }

        &__main {
            @include boxStyle;

            width: 90%;
            height: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .main {
                &__title {
                    position: absolute;
                    top: 75%;
                    z-index: 10;
                    color: white;
                    font-family: font-punk-rock;
                    text-transform: inherit;

                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 2.1rem;

                        &:hover {
                            box-shadow: 0 0 20px white;
                        }
                    }
                }

                &__group-pages {
                    width: 10%;
                    height: fit-content;
                    display: flex;
                    position: absolute;
                    top: 85%;
                    visibility: visible;
                    z-index: 20;
                    justify-content: space-between;

                    .group-pages {
                        &__icon {
                            width: 15px;
                            height: 15px;
                            border: 2px solid black;
                            border-radius: 7.5;
                            margin: 0 2%;

                            &:hover {
                                cursor: pointer;
                                background-color: black;
                                box-shadow: 0 0 15px black;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .portada {

        &__presentation-image {

            .presentation-image {

                &__shape {
                    background-size: cover;
                }
            }
        }
    }
}

.footer:hover {
    +.portada {
        .portada {
            &__image {
                mask-image: linear-gradient(to top, transparent -300%, rgb(255, 255, 255) 95%);
            }
        }
    }
}