<div class="portada__presentation-image">

    <div id="one" class="presentation-image__shape">
        <picture>
            <source class="shape__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/grupo_movil.jpeg?as=webp">
            <img class="shape__img" loading="lazy" src="./assets/images/grupo_completo.jpg?as=webp" alt="Grupo Mago de Oz completo">
        </picture>        
    </div>
    <div id="two" class="presentation-image__shape">
        <picture>
            <source class="shape__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/grupo_movil.jpeg?as=webp">
            <img class="shape__img" loading="lazy" src="./assets/images/grupo_completo.jpg?as=webp" alt="Grupo Mago de Oz completo">
        </picture>
    </div>
    <div id="three" class="presentation-image__shape">
        <picture>
            <source class="shape__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/grupo_movil.jpeg?as=webp">
            <img class="shape__img" loading="lazy" src="./assets/images/grupo_completo.jpg?as=webp" alt="Grupo Mago de Oz completo">
        </picture>
    </div>
    <div id="four" class="presentation-image__shape">
        <picture>
            <source class="shape__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/grupo_movil.jpeg?as=webp">
            <img class="shape__img" loading="lazy" src="./assets/images/grupo_completo.jpg?as=webp" alt="Grupo Mago de Oz completo">
        </picture>
    </div>
    <div id="five" class="presentation-image__shape">
        <picture>
            <source class="shape__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/grupo_movil.jpeg?as=webp">
            <img class="shape__img" loading="lazy" src="./assets/images/grupo_completo.jpg?as=webp" alt="Grupo Mago de Oz completo">
        </picture>
    </div>
    <div id="six" class="presentation-image__shape">
        <picture>
            <source class="shape__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/grupo_movil.jpeg?as=webp">
            <img class="shape__img" loading="lazy" src="./assets/images/grupo_completo.jpg?as=webp" alt="Grupo Mago de Oz completo">
        </picture>
    </div>
    <div id="seven" class="presentation-image__shape">
        <picture>
            <source class="shape__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/grupo_movil.jpeg?as=webp">
            <img class="shape__img" loading="lazy" src="./assets/images/grupo_completo.jpg?as=webp" alt="Grupo Mago de Oz completo">
        </picture>
    </div>
    <div id="eight" class="presentation-image__shape">
        <picture>
            <source class="shape__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/grupo_movil.jpeg?as=webp">
            <img class="shape__img" loading="lazy" src="./assets/images/grupo_completo.jpg?as=webp" alt="Grupo Mago de Oz completo">
        </picture>
    </div>
    <div id="nine" class="presentation-image__shape">
        <picture>
            <source class="shape__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/grupo_movil.jpeg?as=webp">
            <img class="shape__img" loading="lazy" src="./assets/images/grupo_completo.jpg?as=webp" alt="Grupo Mago de Oz completo">
        </picture>
    </div>

    <div id="singer-one" class="presentation-image__singer-card">

        <figure class="singer-card__figure">
            <picture>
                <source class="figure__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/foto-1.jpg?as=webp">
                <img class="figure__img" loading="lazy" src="./assets/images/ramil-mdo.jpg?as=webp" width="200" height="200" alt="Componente del grupo Mago de Oz - Ramil">
            </picture>
            <figcaption class="singer-card__img-copyright">© Mägo de Oz, Oficial</figcaption>
        </figure>
    </div>

    <div id="singer-two" class="presentation-image__singer-card">

        <figure class="singer-card__figure">
            <picture>
                <source class="figure__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/foto-5.jpg?as=webp">
                <img class="figure__img" loading="lazy" src="./assets/images/victor-mdo.jpg?as=webp" width="200" height="200"
                    alt="Componente del grupo Mago de Oz - Victor">
            </picture>
            <figcaption class="singer-card__img-copyright">© Mägo de Oz, Oficial</figcaption>
        </figure>
    </div>

    <div id="singer-three" class="presentation-image__singer-card">

        <figure class="singer-card__figure">
            <picture>
                <source class="figure__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/foto-6.jpg?as=webp">
                <img class="figure__img" loading="lazy" src="./assets/images/seoane.jpg?as=webp" width="200" height="200"
                    alt="Componente del grupo Mago de Oz - Seoane">
            </picture>
            <figcaption class="singer-card__img-copyright">© Mägo de Oz, Oficial</figcaption>
        </figure>
    </div>

    <div id="singer-four" class="presentation-image__singer-card">

        <figure class="singer-card__figure">
            <picture>
                <source class="figure__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/foto-7.jpg?as=webp">
                <img class="figure__img" loading="lazy" src="./assets/images/moha.jpg?as=webp" width="200" height="200"
                    alt="Componente del grupo Mago de Oz - Moha">
            </picture>
            <figcaption class="singer-card__img-copyright">© Mägo de Oz, Oficial</figcaption>
        </figure>
    </div>

    <div id="singer-five" class="presentation-image__singer-card">

        <figure class="singer-card__figure">
            <picture>
                <source class="figure__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/foto-3.jpg?as=webp">
                <img class="figure__img" loading="lazy" src="./assets/images/zeta-mdo.jpg?as=webp" width="200" height="200"
                    alt="Componente del grupo Mago de Oz - Zeta">
            </picture>
            <figcaption class="singer-card__img-copyright">© Mägo de Oz, Oficial</figcaption>
        </figure>
    </div>

    <div id="singer-six" class="presentation-image__singer-card">

        <figure class="singer-card__figure">

            <picture>
                <source class="figure__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/foto-8.jpg?as=webp">
                <img class="figure__img" loading="lazy" src="./assets/images/patri.jpg?as=webp" width="200" height="200"
                    alt="Componente del grupo Mago de Oz - Patri">
            </picture>
            <figcaption class="singer-card__img-copyright">© Mägo de Oz, Oficial</figcaption>
        </figure>
    </div>

    <div id="singer-seven" class="presentation-image__singer-card">

        <figure class="singer-card__figure">
            <picture>
                <source class="figure__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/foto-9.jpg?as=webp">
                <img class="figure__img" loading="lazy" src="./assets/images/bajosintrastos.jpg?as=webp" width="200" height="200"
                    alt="Componente del grupo Mago de Oz - Bajo Sin Trastos">
            </picture>
            <figcaption class="singer-card__img-copyright">© Mägo de Oz, Oficial</figcaption>
        </figure>
    </div>

    <div id="singer-eight" class="presentation-image__singer-card">

        <figure class="singer-card__figure">

            <picture>
                <source class="figure__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/foto-2.jpg?as=webp">
                <img class="figure__img" loading="lazy" src="./assets/images/josema-mdo.jpg?as=webp" width="200" height="200"
                    alt="Componente del grupo Mago de Oz - Josema">
            </picture>
            <figcaption class="singer-card__img-copyright">© Mägo de Oz, Oficial</figcaption>
        </figure>
    </div>

    <div id="singer-nine" class="presentation-image__singer-card">

        <figure class="singer-card__figure">

            <picture>
                <source class="figure__img" media="(max-width: 768px)" loading="lazy" srcset="./assets/images/foto-4.jpg?as=webp">
                <img class="figure__img" loading="lazy" src="./assets/images/txus.jpg?as=webp" width="200" height="200"
                    alt="Componente del grupo Mago de Oz - Txus">
            </picture>
            <figcaption class="singer-card__img-copyright">© Mägo de Oz, Oficial</figcaption>
        </figure>
    </div>

</div>